<!DOCTYPE html>
<% if(val != null) { %>
<div class="message">
<table>
    
    <%
        let date = new Date(val.attributes.created_at);
        let dateStr = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()
        + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
        
        let clockIconStyle = 'color: gray;';
        let message = val.attributes.message.split(/\r?\n/g);
    %>

    <% if(val.attributes.user_id != id) { %>
    <tr>
        <th>
            <a class="home" href="/home/<%= val.attributes.user_id %>/1">
                <% if( val.relations.user.attributes.icon == '' ){ %>
                    <img src="/images/icon_default.jpeg" width="30px" height="30px">
                <% } else { %>
                    <img src="/images/<% val.relations.user.attributes.icon %>" width="30px" height="30px">
                <% } %>
                <figcaption><%= val.relations.user.attributes.name %></figcaption>
            </a>
        </th>
        <td class="messageLeft">
        <% for(let index in message) { %>
            <% if(message[index] == '') { %>
                <br>
            <% } else { %>
                <% if(message[index].substr(0,4) == 'http') { %>
                    <p>
                    <a style="color: white;" href="<%= message[index] %>" target="_blank">
                        <%= message[index] %>
                    </a>
                    </p>
                <% } else { %>
                    <p>
                    <%= message[index] %>
                    </p>
                <% } %>
            <% } %>
        <% } %>
        </td>
        <td style="width: 30%;"></td>
    </tr>

    <% } else { %>
    
    <tr>
        <td style="width: 30%;"></td>
        <td class="messageRight">
        <% for(let index in message) { %>
            <% if(message[index] == '') { %>
                <br>
            <% } else { %>
                <% if(message[index].substr(0,4) == 'http') { %>
                    <p>
                    <a style="color: white;" href="<%= message[index] %>" target="_blank">
                        <%= message[index] %>
                    </a>
                    </p>
                <% } else { %>
                    <p>
                    <%= message[index] %>
                    </p>
                <% } %>
            <% } %>
        <% } %>
        </td>
        <th>
            <a class="home" href="/home/<%= val.attributes.user_id %>/1">
                <% if( val.relations.user.attributes.icon == '' ){ %>
                    <img src="/images/icon_default.jpeg" width="30px" height="30px">
                <% } else { %>
                    <img src="/images/<% val.relations.user.attributes.icon %>" width="30px" height="30px">
                <% } %>
                <figcaption><%= val.relations.user.attributes.name %></figcaption>
            </a>
        </th>
    </tr>
    <% clockIconStyle += ' text-align: right;'; %>
    <% } %>

    <tr>
        <th></th>
        <td style = "<%= clockIconStyle %>">
        <span>
            <i class="fa fa-clock-o"></i>
            <%= dateStr %>
        </span>
        </td>
    </tr>

</table>
</div>
<% } %>