<!DOCTYPE html>
<% if(val != null) { %>
<%
const date = new Date(val.attributes.created_at);
const dateYear = date.getFullYear();
const dateMonth = ((date.getMonth() + 1).toString().length == 1)?'0' + (date.getMonth() + 1):(date.getMonth() + 1);
const dateDate = (date.getDate().toString().length == 1)?'0' + date.getDate():date.getDate();
const dateHours = (date.getHours().toString().length == 1)?'0' + date.getHours():date.getHours();
const dateMinutes = (date.getMinutes().toString().length == 1)?'0' + date.getMinutes():date.getMinutes();
const dateSeconds = (date.getSeconds().toString().length == 1)?'0' + date.getSeconds():date.getSeconds();

const dateStr = dateYear + '-' + dateMonth + '-' + dateDate + ' ' + dateHours + ':' + dateMinutes + ':' + dateSeconds;

let clockIconStyle = 'color: gray;';
let message = val.attributes.message.split(/\r?\n/g);
%>
<div class="message">
<table>
    <% if(val.attributes.user_id === id) { %>
        <tr>
            <td class="messageDummy"></td>
            <td class="messageRight" id="<%= val.attributes.id %>">
            <% for(let index in message) { %>
                <% if(message[index] === '') { %>
                    <br>
                <% } else { %>
                    <% if(message[index].substr(0,4) === 'http') { %>
                        <p>
                        <a class="link" href="<%= message[index] %>" target="_blank">
                            <%= message[index] %>
                        </a>
                        </p>
                    <% } else { %>
                        <p>
                        <%= message[index] %>
                        </p>
                    <% } %>
                <% } %>
            <% } %>
            </td>
            <th>
                <a class="home" href="/home/<%= val.attributes.user_id %>/message/1">
                    <% if( val.relations.user.attributes.icon === null ){ %>
                        <img src="/images/icon_default.jpeg">
                    <% } else { %>
                        <img src="/images/<%= val.relations.user.attributes.icon %>">
                    <% } %>
                    <figcaption><%= val.relations.user.attributes.name %></figcaption>
                </a>
            </th>
        </tr>
    <% } else { %>
        <tr>
            <th>
                <a class="home" href="/home/<%= val.attributes.user_id %>/message/1">
                    <% if( val.relations.user.attributes.icon === null ){ %>
                        <img src="/images/icon_default.jpeg">
                    <% } else { %>
                        <img src="/images/<%= val.relations.user.attributes.icon %>">
                    <% } %>
                    <figcaption><%= val.relations.user.attributes.name %></figcaption>
                </a>
            </th>
            <td class="messageLeft">
            <% for(let index in message) { %>
                <% if(message[index] === '') { %>
                    <br>
                <% } else { %>
                    <% if(message[index].substr(0,4) === 'http') { %>
                        <p>
                        <a class="link" href="<%= message[index] %>" target="_blank">
                            <%= message[index] %>
                        </a>
                        </p>
                    <% } else { %>
                        <p>
                        <%= message[index] %>
                        </p>
                    <% } %>
                <% } %>
            <% } %>
            </td>
            <td class="messageDummy"></td>
        </tr>
    <% } %>

    <% if(val.attributes.user_id === id || type === 'admin' ) { %>
        <% clockIconStyle += ' text-align: right;'; %>
        <tr>
            <th></th>
            <td style = "<%= clockIconStyle %>">
                <span id="iconDelete" class="messageDelete" data-msgid="<%= val.attributes.id %>">
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                    削除
                </span>
                <span id="iconEdit" class="messageEdit" data-msgid="<%= val.attributes.id %>">
                <i class="fa fa-edit" aria-hidden="true" data-msgid="<%= val.attributes.id %>"></i>
                    編集
                </span>
                <br>
                <span>
                    <i class="fa fa-clock-o"></i>
                    <%= dateStr %>
                </span>
            </td>
        </tr>
    <% } else { %>
        <tr>
            <th></th>
            <td>
                <span style = "<%= clockIconStyle %>">
                    <i class="fa fa-clock-o"></i>
                    <%= dateStr %>
                </span>
            </td>
        </tr>
    <% } %>

</table>
</div>
<% } %>