<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/javascripts/uploadImage.js"></script>
<body>
    <head>
        <a href="/main"><h1><%= title %></h1></a>
    </head>
    <div role="main">
        <div class="userdoc">
        <% if( collection[0].relations.user.attributes.icon == '' ){ %>
            <img src="/images/icon_default.jpeg" width="80px" height="80px">
        <% } else { %>
            <img src="/images/<%= collection[0].relations.user.attributes.icon %>" width="80px" height="80px">
        <% } %>
        <% if( collection[0].relations.user.attributes.id == login.id ) { %>
            <br>
            <br>
            <form action="./upload" method="POST" enctype="multipart/form-data">
            <label for="file_upload">
            アイコンにする画像を選択
            <input type="file" id="file_upload" name="uploadfile">
            </label>
            </form>
        <% } %>
        <h2><%= collection[0].relations.user.attributes.name %> 's Home</h2>
        <p><%= collection[0].relations.user.attributes.comment %></p>
        </div>
        <hr>
        <% for(let index in collection) { %>
            <%- include('data_item_home', {val:collection[index]}) %>
        <% } %>
        <div class="pagenations">
        <p>
            <% if (pagination.page > 1) { %>
                <span>
                    <a href="/home/<%= user_id %>/<%= pagination.page - 1 %>">&lt;&lt; prev</a>
                </span>
            <% } else { %>
                <span>
                    &lt;&lt; prev
                </span>
            <% } %>
    
            <% if (pagination.page < pagination.pageCount) { %>
                <span>
                    <a href="/home/<%= user_id %>/<%= pagination.page + 1 %>">Next &gt;&gt;</a>
                </span>
            <% } else { %>
                <span>
                    Next &gt;&gt;
                </span>
            <% } %>
        </p>
        </div>
    </div>
</body>
</html>