<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body style="margin-left: 20%;">
    <head>
        <h1><%= title %></h1>
    </head>
    <div role="main" style="width: 80%;">
        <% if( collection[0].relations.user.attributes.icon == '' ){ %>
            <img src="/images/icon_default.jpeg" width="80px" height="80px">
        <% } else { %>
            <img src="/images/<% collection[0].relations.user.attributes.icon %>" width="30px" height="30px">
        <% } %>
        <h2><%= collection[0].relations.user.attributes.name %> 's Home</h2>
        <p style="text-align: left;"><%= collection[0].relations.user.attributes.comment %></p>
        <hr>
        <p>
            <% for(let index in collection) { %>
                <%- include('data_item_my', {val:collection[index]}) %>
            <% } %>
        </p>
        <p style="text-align: left;">
            <% if (pagination.page > 1) { %>
                <span>
                    <a href="/home/<%= user_id %>/<%= pagination.page - 1 %>">&lt;&lt; prev</a>
                </span>
            <% } else { %>
                <span>
                    &lt;&lt; prev
                </span>
            <% } %>
    
            <% if (pagination.page < pagination.pageCount) { %>
                <span>
                    <a href="/home/<%= user_id %>/<%= pagination.page + 1 %>">Next &gt;&gt;</a>
                </span>
            <% } else { %>
                <span>
                    Next &gt;&gt;
                </span>
            <% } %>
        </p>
        <p> </p>
        <p style="text-align: left;"><a href="/">&lt;&lt; Top</a></p>
    </div>
</body>
</html>