<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/inTopic.css" />
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/sendMessage.js"></script>
  <body>
    <div id="title" class="">
    <header data-topicid="<%= topicId %>" data-userid="<%= login.id %>">
      <!-- <h1><%= title %></h1> -->
        <!-- fixed -->
        <h2><a href="/main" class="title"><%= title %></a><a class="topicname"><%= topicName %></a></h2>
    </header>
    </div>
    <div id="main" role="main">
      <hr>
      <div id="msgParent">
        <% for(let index in collection) { %>
          <%- include('data_item_messages', {val:collection[index], id:login.id, msgid:index}) %>
        <% } %>
      </div>
      <div id="dummy" class="msgform"></div>
      <div id="msgform" class="msgform msgfixed">
          <!-- msgfixed -->
          <div id="page" class="">
          <!-- disable -->
            <% if (pagination.page > 1) { %>
              <span>
                <a href="./<%= pagination.page - 1 %>">&lt;&lt; prev</a>
              </span>
            <% } else { %>
              <span>
                &lt;&lt; prev
              </span>
            <% } %>
    
            <% if (pagination.page < pagination.pageCount) { %>
              <span>
                <a href="./<%= pagination.page + 1 %>">Next &gt;&gt;</a>
              </span>
            <% } else { %>
              <span>
                Next &gt;&gt;
              </span>
            <% } %>
          </div>
          <table class="sendMsg">
            <th><textarea name="msg" id="msg" class="msg" onfocus="focusA(this);" onblur="blurA(this);"></textarea></th>
            <td><input type="submit" value="é€ä¿¡" id="submit" ></td>
          </table>
      </div>
    </div>
  </body>
</html>
