<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/login.css" />
</head>
<body>
    <head>
        <h1><%= title %></h1>
    </head>
    <div role="main" class="useradd">
        <p><%- content %></p>
        <form method="POST" action="/users/add">
            <table>
                <tr>
                    <th>Name</th>
                    <td><input type="text" name="name" value="<%= form.name %>"></td>
                </tr>
                <tr>
                    <th>PASSWORD</th>
                    <td><input type="text" name="password" value="<%= form.password %>"></td>
                </tr>
                <tr>
                    <th>COMMENT</th>
                    <td><textarea name="comment" rows="5" cols="22"><%= form.comment %></textarea></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="作成"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>