<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/javascripts/uploadImage.js"></script>
<script src="/javascripts/mypageMenu.js"></script>
<body>
    <div role="main" class="background">
        <h2><%= collection[0].relations.user.attributes.name %>さんのマイページ</h2>
        <div class="maincontents">
        <div class="userdoc">
            <div class="icon">
            <% if( collection[0].relations.user.attributes.icon == null ){ %>
                <img src="/images/icon_default.jpeg" width="80px" height="80px">
            <% } else { %>
                <img src="/images/<%= collection[0].relations.user.attributes.icon %>" width="80px" height="80px">
            <% } %>
            <% if( collection[0].relations.user.attributes.id == login.id ) { %>
                <br>
                <br>
                <div class="upload">
                <form action="./image/upload" method="POST" enctype="multipart/form-data">
                <label for="file_upload">
                    アイコンにする画像を選択
                    <input type="file" id="file_upload" name="uploadfile">
                </label>
                </form>
                </div>
            <% } %>
                <div class="comment">
                    comment
                </div>
                <div class="comment-contents">
                    <p><%= collection[0].relations.user.attributes.comment %></p>
                </div>
            </div>
            <div class="menu">
            <li value="/home/<%= collection[0].relations.user.attributes.id %>/message/1">メッセージ履歴</li>
            <li value="/home/<%= collection[0].relations.user.attributes.id %>/topic/1">作成したトピック</li>
            <!-- <li value="/main">投稿したドキュメント</li>
            <% if( collection[0].relations.user.attributes.id == login.id ) { %>
            <li value="/main">ドキュメントを作成</li>
            <% } %> -->
            <li value="/main"><%= title %>へ戻る</li>
            </div>
        </div>
        <div class="contents">
            <div id="contentsClass" class="views">
            <% for(let index in collection) { %>
                <%- include('data_item_home', {val:collection[index],contents:contents}) %>
            <% } %>
            </div>
        </div>
        <div class="pagenations">
        <p>
            <% if (pagination.page > 1) { %>
                <span>
                    <a href="./<%= pagination.page - 1 %>">&lt;&lt; prev</a>
                </span>
            <% } else { %>
                <span>
                    &lt;&lt; prev
                </span>
            <% } %>
    
            <% if (pagination.page < pagination.pageCount) { %>
                <span>
                    <a href="./<%= pagination.page + 1 %>">Next &gt;&gt;</a>
                </span>
            <% } else { %>
                <span>
                    Next &gt;&gt;
                </span>
            <% } %>
        </p>
        </div>
        </div>
    </div>
</body>
</html>